<nav class="navbar">
    <div class="brand">
        <img src="/images/favicon.png" class="logo" alt="">
        <h1 class="title">Store</h1>
    </div>
          <div class="categories">
            <div class="categ">
              <a class="button" href="/womens" >Womens</a>
              <a class="button" href="/mens" >Mens</a>
            </div>
          </div>
    <div class="sign-in">
      <form id="login">
          <input type="text" autocomplete="off" id="email-login" class="email" placeholder="Email">
          <input type="password" autocomplete="off" id="password-login" class="password" placeholder="Password">
          <input class="sign-in-button" type="submit" value="Sign In">
          <a class="registration-button" href="/registration">Registration</a>
      </form>
    </div>
    
</nav>
  <ol class="breadcrumbs">
    <li><a class="breadcrumb" href="/">HOME</a> </li>
    {{#if isRegistrationPage}}
      <li> <a class="breadcrumb" href="/registration">Registration</a></li>
    {{else}}
      {{#if isCategoryPage}}
      <li> <a class="breadcrumb" href="/{{isCategoryPage}}">{{isCategoryPage}}</a></li> 
      {{/if}}
      {{#if isSubcategoryPage}}
      <li> <a class="breadcrumb" href="/{{isCategoryPage}}/{{isSubcategoryPage}}">{{subcategoryName}}</a></li> 
      {{/if}}
      {{#if isProductPage}}
      <li> <a class="breadcrumb" href="/{{isCategoryPage}}/{{isSubcategoryPage}}/{{isProductPage}}" >{{product.name}}</a></li> 
      {{/if}}
    {{/if}}
  </ol>


<script>
    const formLogin = document.getElementById('login');
    formLogin.addEventListener('submit', login);

    async function login(event){
        event.preventDefault();
        const email = document.getElementById('email-login').value;
        const password = document.getElementById('password-login').value;
        
        const result = await fetch('/', {
            method: 'POST',
            headers:{
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                email,
                password
            })
        }).then((res) => res.json())

        if(result.status !== 'ok'){
            alert(result.error);
        }else{
            window.location.href = '/';
        }
    }
</script>