<div class="products">
    {{#each products}}
        <div class="product">
            <div class="card">
                <p class="titleProduct">{{name}}</p>
                    <div class="contentProduct">
                            <img src='/images/{{image_groups.[0].images.[0].link}}' class="imageProduct" alt="">
                        <div class="rightCard">
                            <p class="descriptionProduct">{{{short_description}}}</p>
                            <div class="info">
                                <p class="priceProduct">Price: $ {{price}}</p>
                                <a class="moreInfoProduct" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}/{{id}}" >More Info</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div class="pagination">
    {{#if (greater pages.length 1)}}
        <ul class="pagination">
                    {{#if (equal current 1)}}
                            <a class="current-page" >&#8810;</a>
                        {{else}} 
                            <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page=1">&#8810;</a>
                    {{/if}}
                        {{#if (greater pages.length 6)}}
                            {{#if (and (greater current 4) (less current (substract pages.length 2)))}}
                                <a class="more">...</a>
                                <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{substract current 2}}">{{substract current 2}}</a>
                                <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{substract current 1}}">{{substract current 1}}</a>
                                <a class="current-page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{current}}">{{current}}</a>
                                <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{substract current -1}}">{{substract current -1}}</a>
                                <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{substract current -2}}">{{substract current -2}}</a>
                                <a class="more">...</a>
                            {{/if}}
                                {{#if (less current 5)}}
                                    {{#each pages}}
                                        {{#if (less this ../current)}}
                                            <a class="page" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}?page={{this}}">{{this}}</a>
                                        {{/if}}
                                        {{#if (equal ../current this)}}
                                                <a class="current-page" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}?page={{../current}}">{{../current}}</a>
                                                <a class="page" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}?page={{add ../current 1}}">{{add ../current 1}}</a>
                                                <a class="page" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}?page={{add ../current 2}}">{{add ../current 2}}</a>
                                                <a class="more">...</a>
                                        {{/if}}
                                    {{/each}}  
                                {{/if}}
                                {{#if (greater current (substract pages.length 3))}}
                                    <a class="more">...</a>
                                    <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{substract current 3}}">{{substract current 3}}</a>
                                    <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{substract current 2}}">{{substract current 2}}</a>
                                    <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{substract current 1}}">{{substract current 1}}</a>
                                    <a class="current-page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{current}}">{{current}}</a>
                                    {{#each pages}}
                                        {{#if (greater this ../current)}}
                                        <a class="page" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}?page={{this}}">{{this}}</a>
                                        {{/if}}
                                    {{/each}}  
                                {{/if}}

                        {{else}}
                            {{#each pages}}
                                {{#if (equal ../current this)}}
                                    <a class="current-page" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}?page={{../current}}">{{../current}}</a>
                                {{else}}
                                    <a class="page" href="/{{../isCategoryPage}}/{{../isSubcategoryPage}}?page={{this}}">{{this}}</a>
                                {{/if}} 
                            {{/each}}
                        {{/if}}


                
                    {{#if (equal current pages.length)}}
                            <a class="current-page">&#8811;</a>
                        {{else}} 
                            <a class="page" href="/{{isCategoryPage}}/{{isSubcategoryPage}}?page={{pages.length}}">&#8811;</a>
                    {{/if}}
        </ul>
    {{/if}}
</div>