
<div class="product-page">
    <div class="images">
        {{#if product.image_groups.[0].images.[1]}}
        <div class="small-images">
            {{#each product.image_groups.[0].images}}
            <img src='/images/{{link}}' class="small-img" alt="">
            {{/each}}
        </div>
        {{/if}}
        <img id="mainImage" src='/images/{{product.image_groups.[0].images.[0].link}}' class="image-product" alt="">
    </div>
    <div class="product-detail">
        <h2 class="product-name">{{product.name}}</h2>
        {{#if longDescription}}
            <p class="description-product">{{{product.short_description}}}</p>
            <p class="product-description">{{{product.long_description}}}</p>
        {{else}}
            <p class="description-product">{{{product.short_description}}}</p>
            <p class="product-description"></p>
        {{/if}}
        <div class="details">
            <a class="buyProduct" href="" >Buy now</a>
            <div class="price-details">
                <p class="price">Price: $ {{product.price}}</p>
                <select name="currencies" id="currencies">
                    <option value="{{product.currency}}" selected>{{product.currency}}</option>
                </select>
            </div>
        </div>
    </div>
</div>


<script>
    Handlebars.registerHelper('eq', function(a, b) {
  if (a === b) {
    return true;
  } else {
    return false;
  }
});
</script>