
{{#if category}}
    <h1>{{category.page_title}}</h1>
    <h2>{{category.page_description}}</h2>

    <div class="categoriesContent">
        {{#if category.categories}}
            <ul>
                {{#each category.categories}}
                    {{#if image}}
                        <div class="category">
                            <h2>{{page_title}}</h2>
                            <img src='images/{{image}}' class="" alt="">
                            <p class="description">{{page_description}}</p>
                            <a class="viewProducts" href="/{{parent_category_id}}/{{id}}" >View Products</a>
                        </div>
                    {{else}}
                            <h2 class="nameCategory">{{page_title}}</h2>
                        
                    {{/if}}
                        {{#each categories}}
                            {{#if image}}
                                <div class="category">
                                    <img src='images/{{image}}' class="" alt="">
                                    <p class="description">{{page_description}}</p>
                                    <a class="viewProducts" href="/{{parent_category_id}}/{{id}}" >View Products</a>
                                </div>
                            {{/if}}
                        {{/each}} 
                {{/each}}
            </ul>
        {{/if}} 
    </div>

{{else}}
    <div class="welcome">
        <p class="welcomeMessage">Welcome! Enjoy your shopping experience with us!</p>
        <img src="images/welcome.png" class="welcomeImage" alt="">
    </div>
{{/if}}



